@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root {
  --dark-blue: hsl(243, 87%, 12%);
  --light_blue: hsl(238, 22%, 44%);

  --bright-blue: hsl(224, 93%, 58%);
  --cyan: hsl(170, 45%, 43%);

  --light-gray: hsl(240, 75%, 98%);
  --gray: hsl(0, 0%, 75%);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: var(--dark-blue);
}

section {
  padding-top: 3em;
  padding-bottom: 5em;
}

.navbar, h1, button {
  font-family: 'Raleway';
}

.pouch {
  border: 2px solid blue;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero, .what-we-do, .apply-now {
  display: grid;
}

.navbar {
  border: 2px solid orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9em;
}

.navbar__brand img {
  width: 6.25em;
  margin: 1.5em;
}

.nav {
  display: flex;
}

.nav__list {
  list-style: none;
  display: flex;
  margin: 0em;
  padding: 0em;
}

.nav__item {
  margin-right: 1.5em;
}

.nav__link, .nav__link:visited {
  text-decoration: none;
  color: var(--dark-blue);
}

.nav__link:hover {
  color: var(--light_blue);
}

.hero {
  border: 2px solid aquamarine;
}

.hero__img {
  border: 2px solid red;
  display: flex;
  align-items: center;
  padding-right: 5%;
  padding-left: 5%;
}

.hero__img img {
  border: 2px solid green;
  width: 100%;
  margin-top: 2em;
}

.hero__texts {
  border: 2px solid mediumvioletred;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.hero__texts h1 {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
}

.hero__texts p {
  text-align: center;
  font-size: 0.9em;
  line-height: 1.5em;
}

.form {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__input {
  margin-top: 1em;
  height: 2em;
  border: 1px solid var(--light_blue);
  border-radius: 3px;
}

.form__input::placeholder {
  color: var(--gray);
  font-size: 0.8em;
  padding-left: 1em;
}

.button {
  margin-top: 1em;
  height: 3em;
  background-color: var(--bright-blue);
  border-color: transparent;
  border-radius: 3px;
  font-family: 'Raleway';
  font-weight: 700;
  color: var(--light-gray);
  font-size: 0.8em;
  box-shadow: 5px 5px 5px 0px var(--gray);
}

.what-we-do {
  border: 2px solid green;
  background-color: var(--light-gray);
  position: relative;
}

/* .what-we-do::before {
  border: 2px dotted red;
  background-image: url(../images/bg-curve-desktop.svg);
  background-size: 100% 100%;
  display: inline-block;
  width: 100%; 
  height: 8vw;
  content:"";
} */

.what-we-do__img {
  border: 2px solid rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.what-we-do__img  img{
  border: 2px solid greenyellow;
  width: 100%;
}

.what-we-do__texts {
  border: 2px solid deeppink ;
}

.what-we-do__texts h1 {
  font-size: 1.0em;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.what-we-do__texts p {
  font-size: 0.8em;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.5em;
}

.link {
  font-size: 0.8em;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link a {
  text-decoration: none;
  color: var(--cyan);
  line-height: 1.5em;
  border-bottom: 1px solid var(--cyan);
}

.link img {
  width: 1.5em;
  padding-left: 0.5em;
  border-bottom: 1px solid var(--cyan);
}

.testimonial {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px var(--gray);
}

.testimonial__quote {
  position: relative;
}

.testimonial__quote-mark  {
  position: absolute;
  left: 5%;
  top: 1em;
}

.testimonial__quote > p {
  padding-top: 3em;
  font-size: 0.8em;
}

.testimonial__autor {
  display: flex;
  margin-left: 5%;
  align-items: center;
  padding-bottom: 1em;
}

.testimonial__avatar {
  width: 2em;
  border-radius: 50%;
}

.testimonial__autor-info {
  margin-left: 0.6em;
}

.testimonial__autor-name {
  font-size: 0.6em;
  font-family: 'Raleway';
  font-weight: 700;
  margin-bottom: 0.3em;
}

.testimnial__autor-title {
  font-size: 0.5em; 
}

.apply-now {
  border: 2px solid darkviolet;
}

.apply-now__texts {
  border: 2px solid gold;
}

.apply-now__form {
  border: 2px solid salmon;
}

.footer {
  border: 2px solid darkorange;
}

@media screen and (min-width: 768px) {
  .hero, .what-we-do, .apply-now {
    grid-template-columns: 1fr 1fr; 
  }

  .hero__img {
    grid-column: 2 / 3;
    grid-row: 1 /2;
  }
  
  .hero__texts {
    grid-column: 1 / 2;
  }
  
  .what-we-do__img {
    grid-column: 2 / 3;
    grid-row: 1 /2;
  }
  
  .what-we-do__texts {
    grid-column: 1 / 2;
  }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }