.apply-now   
  /* border: 2px solid darkviolet   */
  background-color: $light_blue 
  color: $light-gray  
  padding-left: 5%  
  padding-right: 5%  

.apply-now__texts   
  /* border: 2px solid gold   */
  text-align: center  

.apply-now__texts h1  
  font-size: 1.0em  
  margin-top: 1.5em  
  margin-bottom: 1.5em  

.apply-now__texts p   
  font-size: 0.8em  
  padding-left: 5%  
  padding-right: 5%  
  line-height: 1.5em  

.apply-now__form   
  /* border: 2px solid salmon   */
  padding-left: 15%  
  padding-right: 15%  

.apply-now__form .form__input   
  height: 1.5em  
  
.apply-now__form .button   
  box-shadow: none  
  height: 2em  
  font-size: 0.7em  
  