.apply-now   
  //border: 2px solid darkviolet
  background-color: $light_blue 
  color: $light-gray  
  padding-left: 5%  
  padding-right: 5%  

  &__texts   
    // border: 2px solid gold
    text-align: center  

    h1  
      font-size: 1.0em  
      margin-top: 1.5em  
      margin-bottom: 1.5em  

    p   
      font-size: 0.8em  
      padding-left: 5%  
      padding-right: 5%  
      line-height: 1.5em  

  &__form   
    // border: 2px solid salmon
    padding-left: 15%  
    padding-right: 15%  

  .form__input   
    height: 1.5em  
    
  .button   
    box-shadow: none  
    height: 2em  
    font-size: 0.7em  
  