.footer   
  padding-top: 3em  
  padding-bottom: 3em  
  background-color: $dark-blue  
  color: $light-gray   
  font-size: 0.8em  
  
  ul   
    list-style: none  
    padding-left: 0px  
    line-height: 3em  
    margin-top: 2em  
    margin-bottom: 2em  

    li   
      display: flex  
      align-items: center  

      span   
        padding-left: 1em  
  
  &__media   
    // border: 2px solid greenyellow
    margin: 1em    
    display: flex  
    justify-content: center  
    
  &__icon   
    border: 1px solid $light-gray 
    padding: 0.5em  
    margin-left: 10px  
    margin-right: 10px  
    border-radius: 50%  
    display: flex  
    justify-content: center  
    align-items: center  
  
    i   
      font-size: 1em   