@media screen and (min-width: 768px)       

  .hero__img img   
    margin-top: 0px  
    
  .hero__texts   
    grid-column: 1 / 2  

  .hero__texts p, .hero__texts h1   
    text-align: start  
    
  .hero__texts h1   
    font-size: 1.7em  
    margin-bottom: 0em  
    
  .hero__texts p   
    font-size: 0.8em  
    
  .hero__form   
    flex-direction: row  
    align-items: center  
    
  .hero__form .form__input   
    width: 55%  
    margin-right: 5%  
    
  .hero__form .button   
    width: 30%  
    box-shadow: 1px 1px 5px 0px $gray 
    
  .what-we-do__img   
    grid-column: 2 / 3  
    grid-row: 1 /2  
    
  .what-we-do__texts   
    grid-column: 1 / 2  
    
  .what-we-do__texts h1   
    font-size: 1.7em  
    padding-left: 5%  
    text-align: left  
    margin-bottom: 0.6em  
    
  .what-we-do__texts p   
    width: 70%  
    font-size: 0.7em  
    
  .what-we-do__texts .link   
    padding-left: 5%  
    justify-content: left  
    
  .testimonial   
    margin-left: 5%  
    width: 60%  
    
  .testimonial p   
    width: auto  
    
  .apply-now__texts   
    text-align: left  
    
  .apply-now__texts h1   
    margin-bottom: 0.5em  
    font-size: 1.2em  
    
  .apply-now__texts p   
    font-size: 0.7em  
    padding-left: 0em  
    
  .apply-now__form .form__input::placeholder   
    font-size: 0.6em  
    
  .apply-now__form .button   
    width: 40%  
    height: 3em  
    font-size: 0.6em  
    
  .footer   
    font-size: 0.7em  
    
  .footer__links   
    display: flex  
    justify-content: space-between  
    
  .footer__media   
    height: 2em  
    margin-top: 3em  
    margin-right: 15em  
    
  .footer__icon   
    margin-left: 5px  
    margin-right: 5px  